<div class="mat-typography">
    <h1>dialog-service</h1>

    <ul>
        <li>
            <button mat-button (click)="doAlert()">Alert</button>
        </li>
        <li>
            <button mat-button (click)="doConfirm()">Confirm</button>
        </li>
        <li>
            <button mat-button (click)="doFormSimple()">Form (Simple)</button>
            <button mat-button (click)="doFormMixed()">Form (Mixed with validators)</button>
            <button mat-button (click)="doFormAsyncValidator()">Form (Async validator)</button>
        </li>
        <li>
            <button mat-button (click)="doProgress()">Progress</button>
        </li>
        <li>
            <button mat-button (click)="doCombined()">Combined</button>
        </li>
        <li>
            <button mat-button (click)="doForgotUsername()">Forgot Username</button>
        </li>
    </ul>
</div>
